.featurette {
  text-align: center;
  margin-bottom: 20px;

  .featurette-icon {
    font-size: 2em;
    margin-bottom: 10px;
  }

  h3 {
    font-size: 1.5em;
    margin-bottom: 5px;
  }

  .featurette-percent {
    font-size: 1.2em;
    color: $sta-primary;
  }
}