{{ $pack := or (.Get "icon_pack") "fas" }}
{{ $pack_prefix := $pack }}
{{ if in (slice "fab" "fas" "far" "fal") $pack }}
  {{ $pack_prefix = "fa" }}
{{ end }}
{{ $link := .Get "url" }}
{{ $scheme := (urls.Parse $link).Scheme }}
{{ $target := "" }}
{{ if not $scheme }}
  {{ $link = $link | relLangURL }}
{{ else if in (slice "http" "https") $scheme }}
  {{ $target = "target=\"_blank\" rel=\"noopener\"" }}
{{ end }}
<a href="{{ $link | safeURL }}" {{ $target | safeHTMLAttr }} class="btn {{ if eq (.Get "style") "inverse" }}btn-outline-primary{{ else if .Get "text_color_light" }}btn-light{{ else }}btn-primary-2{{ end }} btn-lg page-scroll">
  {{ if .Get "icon" }}<i class="{{ $pack }} {{ $pack_prefix }}-{{ .Get "icon" }} mr-2" aria-hidden="true"></i>{{ end }}
  {{ .Get "text" | markdownify | emojify | safeHTML }}
</a>