.btn-primary-2 {
  background-color: lightpink;
  border-color: lightpink;
  color: white;
}

.btn-primary-2:hover {
  background-color: pink;
  border-color: pink;
}

.btn-outline-primary-2 {
  color: lightpink;
  border-color: lightpink;
}

.btn-outline-primary-2:hover {
  background-color: pink;
  border-color: pink;
  color: white;
}