{{ $st := .page }}
{{ $columns := $st.Params.design.columns | default "2" }}

<div class="row">
  {{ if ne $columns "1" }}
    <div class="col-12 section-heading text-center">
      {{ with $st.Title }}<h1>{{ . | markdownify | emojify }}</h1>{{ end }}
      {{ with $st.Params.subtitle }}<p>{{ . | markdownify | emojify }}</p>{{ end }}
    </div>
    <div class="col-12">
      {{ $st.Content }}
    </div>
  {{ else }}
    <div class="col-12">
      {{ with $st.Title }}<h1>{{ . | markdownify | emojify }}</h1>{{ end }}
      {{ with $st.Params.subtitle }}<p>{{ . | markdownify | emojify }}</p>{{ end }}
      {{ $st.Content }}
    </div>
  {{ end }}
</div>

{{ if $st.Params.feature }}
<div class="row feature">
  {{ range $st.Params.feature }}
  {{ $pack := or .icon_pack "fas" }}
  {{ $pack_prefix := $pack }}
  {{ if in (slice "fab" "fas" "far" "fal") $pack }}
  {{ $pack_prefix = "fa" }}
  {{ end }}
  <div class="col-lg-3 col-sm-6 mb-4 mb-lg-0">
    <div class="position-relative py-2 shadow feature-margin">
      <div class="progress-bar" style="width:{{ .parcent }}"></div>
      {{ with .icon }}<div class="feature-icon"><i class="{{ $pack }} {{ $pack_prefix }}-{{ . }}"></i></div>{{ end }}
      <h3>{{ .name | markdownify | emojify }}</h3>
      {{ with .parcent }}<p>{{ . }}</p>{{ end }}
    </div>
  </div>
  {{ end }}
</div>
{{ end }}
