{{ $ := .root }}
{{ $page := .page }}

<div class="row featurette">
  {{ with $page.Title }}
  <div class="col-12 section-heading">
    <h1>{{ . | markdownify | emojify }}</h1>
    {{ if $page.Params.subtitle }}<p>{{ $page.Params.subtitle | markdownify | emojify }}</p>{{ end }}
  </div>
  {{ end }}

  <div class="col-md-6">
    {{ with $page.Content }}
      {{ . | markdownify }}
    {{ end }}
  </div>

  <div class="col-md-6">
    <div class="row">
      {{ range $page.Params.feature }}
      {{ $pack := or .icon_pack "fas" }}
      {{ $pack_prefix := $pack }}
      {{ if in (slice "fab" "fas" "far" "fal") $pack }}
      {{ $pack_prefix = "fa" }}
      {{ end }}
      <div class="col-lg-6 col-sm-12 mb-4 mb-lg-0">
        <div class="position-relative py-2 shadow featurette-margin">
          <div class="progress-bar" style="width:{{ .parcent }}"></div>
          {{ with .icon }}<div class="featurette-icon"><i class="{{ $pack }} {{ $pack_prefix }}-{{ . }}"></i></div>{{ end }}
          <h3>{{ .name | markdownify | emojify }}</h3>
          {{ with .parcent }}<p>{{ . }}</p>{{ end }}
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</div>